.active-tile {
  transform: scale(1);
  scroll-snap-align: center;
  color: #474747;
  /* background-color: #ffffffbc; */
  transition: 900ms transform ease-in-out, 1200ms color ease-in-out,
    200ms background-color ease-in-out;
}
.active-tile-header {
  font-size: 1.8rem;
  font-weight: bold;
  color: #474747;
  background-color: #ffffffbc;
  transition: 900ms font-size ease-in-out, 600ms color ease-in-out,
    200ms background-color ease-in-out;
}
.inactive-tile {
  transform: scale(0.9);
  scroll-snap-align: center;
  color: #7d7d7d;
  /* background-color: #ffffffbc; */
  transition: 400ms transform ease-in-out, 400ms color ease-in-out,
    200ms background-color ease-in-out;
}
.inactive-tile-header {
  font-size: 0.1rem;
  font-weight: 200;
  color: #474747;
  background-color: #ffffff;
  transition: 900ms font-size ease-in-out, 900ms color ease-in-out,
    200ms background-color ease-in-out;
}
.active-tile-only-text {
  transform: scale(1);
  scroll-snap-align: center;
  color: #7d7d7d;
  transition: 900ms transform ease-in-out, 1200ms color ease-in-out;
}
.inactive-tile-only-text {
}
